article {
  margin: auto;
  width: 1000px;
  height: 720px;
  background-image: url("./assets/benjamin-voros-phIFdC6lA4E-unsplash.jpg");
  background-size: cover;
}

.mountain-text h1 {
  text-align: left;
  padding: 0 1em;
}

.mountain-text > * {
  color: whitesmoke;
  padding: 1em;
}

.mountain-text {
  padding-top: 640px;
  transition: 2s;
}

.mountain-text:hover {
  padding-top: 0;
  padding-bottom: 550px;
}
